<div style="text-align: center; padding-top: 50px;">
  <h1>CMUMASH</h1>
  <p>Let's votes your college friends</p>
  <div style="margin: 80px">
    <%= link_to("Enjoy us!",create_path) %>
  </div>

</div>
